<!-- <img src="{{all.data[0].images.downsized.url}}" alt=""> -->

<!-- <img src="{{lucky.data.image_url}}" alt="">
<input type="text" id='to-copy' value="{{lucky.data.image_url}}">
<button ng-click='copy()'>Copy</button>
<button ng-click='next()' type="button">New Gif</button> -->

<!-- <input ng-model='search'><button ng-click='goSearch()'>Go</button>
<div ng-repeat="element in getSearch.data">
    <img src="{{element.images.downsized.url}}" alt="">
</div> -->


<!-- <input ng-model='number'><button ng-click='addNumber()'><span class="glyphicon glyphicon-music">Nombre de gifs</span></button>
<div ng-repeat="element in X.data">
  <img src="{{element.images.downsized.url}}" alt="">
</div> -->
